- hosts: "{{ testing_target | default('localhost') }}"
  vars:
    results: {}
    failures: 0
    errors: 0
    skipped: 0
  tasks:
  - name: "Run test {{ test_name }}"
    ansible.builtin.include_role:
      name: test_runner
      public: true
    vars:
      test_name: "{{ item }}"
    loop: "{{ tests }}"

  - name: Write results to file
    ansible.builtin.copy:
      dest: /var/lib/AnsibleTests/external_files/results.yaml
      content: "{{ results | to_nice_yaml }}"

  - name: Print results
    ansible.builtin.debug:
      msg: "{{ results | to_nice_yaml }}"

  - name: Generate junitxml file
    ansible.builtin.include_role:
      name: junitxml
      public: true
